html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url("../public/dot-grid.png");
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
